ion-toolbar {
    background: $toolbar-background;
}

outer-content{
    background: $background-color;
}
ion-navbar{
    background: $toolbar-background;    
}
scroll-content{
    background: $background-color;

}

.toolbar-background{
    background: $toolbar-background;
}

.app .ion-title{
    background: $toolbar-background;

}